@media screen and (max-width : 756px) {

    /* NAVBAR START */

    ul {
        gap: 6px;
    }

    .navbar h3 {
        font-size: 1.4rem;
        font-weight: 300;
        letter-spacing: 1px;
    }

    .navbar ul li a {
        font-size: 1rem;
        font-weight: 300;
    }

    .navbar ul li a:hover {
        font-size: 1rem;
        font-weight: 300;
    }

    .navbar .btn {
        display: none;
    }
    
    /* NAVBAR END */

    /* HEAD START */

    header {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .head-left {
        width: 100%;
        padding: 20px;
        margin-top: 60px;
    }

    .head-left h1 {
        font-size: 1.5rem;
        font-weight: 300;
    }

    .head-left p {
        font-size: 1rem;
        font-weight: 300;
    }

    .head-left button {
        font-size: 0.9rem;
        font-weight: 300;
    }

    .head-right img {
        width: 300px;
        margin: 0;
        margin-right: 50px;
    }

    /* HEAD END */

    /* BRIDGE START */

    .bridge {
        width: 100%;
        height: auto;
        padding: 30px 10px;
        display: flex;
        flex-wrap: wrap;
    }

    .bridge a i {
        font-size: 1.2rem;
    }

    .bridge a {
        font-size: 1.1rem;
    }
}
