@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Tilt+Neon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Tilt Neon";
}

.navbar {
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #0d0d0da9;
  z-index: 9999;
}

ul {
  display: flex;
  gap: 10px;
}

.navbar h3 {
  font-size: 1.8rem;
  font-weight: 200;
  color: #dfdfdf;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Permanent Marker";
}

.navbar ul li a {
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #dfdfdf;
  transition: 0.3s !important;
  -webkit-transition: 0.3s !important;
  -moz-transition: 0.3s !important;
  -ms-transition: 0.3s !important;
  -o-transition: 0.3s !important;
}

.navbar ul li a:hover {
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #818181;
}

.btn-left {
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  color: #dfdfdf;
  font-family: "Tilt Neon";
  transition: 0.3s !important;
  -webkit-transition: 0.3s !important;
  -moz-transition: 0.3s !important;
  -ms-transition: 0.3s !important;
  -o-transition: 0.3s !important;
}

.btn-right {
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  color: #0d0d0d;
  background: #dfdfdf;
  border: 2px solid #dfdfdf;
  transition: 0.3s !important;
  -webkit-transition: 0.3s !important;
  -moz-transition: 0.3s !important;
  -ms-transition: 0.3s !important;
  -o-transition: 0.3s !important;
}

.btn-left:hover {
  color: #535353;
}

.btn-right:hover,
.headA-left button:hover {
  border: 2px solid #dfdfdf;
  background-color: transparent;
  color: #dfdfdf;
}

/* NAV END */

/* ABOUT START */

header {
  width: 100%;
  background: radial-gradient(
      circle,
      rgba(63, 94, 251, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url(../../img/aboutbg3.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: max-content;
}

.top {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.top-left {
  width: 50%;
  height: 100%;
  padding: 0 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.top-left p {
  color: #fdfdfd;
  font-size: 2.2rem;
  font-weight: 500;
  font-family: poppins;
  text-shadow: 0 0 5px #fdfdfd, 0 0 10px #fdfdfd, 0 0 20px #fdfdfd,
    0 0 40px #0ff, 0 0 80px #0ff, 0 0 90px #0ff;
  /* text-shadow:
    0 0 5px #fdfdfd,
    0 0 10px #fdfdfd,
    0 0 20px #fdfdfd,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 120px #0ff; */
  animation: title 10s ease-in infinite;
}

@keyframes title {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(120deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}

.top-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.top-right img {
  width: 500px;
}

.bottom {
  width: 100%;
  height: max-content;
  background: #0d0d0d;
  padding: 50px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 2px solid #f15a5a;
  border-bottom: 2px solid #f15a5a;
}

.bottom h1 {
  font-size: 2.6rem;
  color: #dfdfdf;
  font-family: "Permanent Marker";
  font-weight: 400;
}

.bottom span {
  font-family: "Tilt Neon";
  color: #f15a5a;
  font-weight: 400;
}

.bottom p {
  color: #dfdfdf;
  font-size: 1.1rem;
  max-width: 450px;
}

/* ABOUT END */

/* CARD START */

.about-us {
  width: 100%;
  height: max-content;
  padding: 80px;
  background: url(../../img/aboutbg2.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.summary {
  /* backdrop-filter: blur(4px); */
  padding: 12px 0;
  /* margin-top: -48px; */
  /* margin-bottom: -64px; */
  margin: 30px 0;
}

.neon {
  font-family: "Londrina Outline";
  color: #fb4264;
  text-align: center;
  font-size: 4rem;
  /* line-height: 9vw; */
  text-shadow: 0 0 3vw #f40a35;
}


.neon {
    animation: neon 1s ease infinite;
    -moz-animation: neon 1s ease infinite;
    -webkit-animation: neon 1s ease infinite;
}

@keyframes neon {
    0%,
    100% {
        text-shadow: 0 0 1vw #fa1c16, 0 0 3vw #fa1c16, 0 0 10vw #fa1c16,
        0 0 10vw #fa1c16, 0 0 0.4vw #fed128, 0.5vw 0.5vw 0.1vw #806914;
        color: #fed128;
    }
    50% {
        text-shadow: 0 0 0.5vw #800e0b, 0 0 1.5vw #800e0b, 0 0 5vw #800e0b,
        0 0 5vw #800e0b, 0 0 0.2vw #800e0b, 0.5vw 0.5vw 0.1vw #40340a;
        color: #806914;
    }
}

.flux {
  font-family: Yellowtail;
  color: #426dfb;
  text-align: center;
  font-size: 2rem;
  /* line-height: 9vw; */
  text-shadow: 0 0 3vw #2356ff;
}

.flux {
  animation: flux 2s linear infinite;
  -moz-animation: flux 2s linear infinite;
  -webkit-animation: flux 2s linear infinite;
  -o-animation: flux 2s linear infinite;
}

@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041ff, 0 0 3vw #1041ff, 0 0 10vw #1041ff,
      0 0 10vw #1041ff, 0 0 0.4vw #8bfdfe, 0.5vw 0.5vw 0.1vw #147280;
    color: #28d7fe;
  }
  50% {
    text-shadow: 0 0 0.5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180,
      0 0 5vw #082180, 0 0 0.2vw #082180, 0.5vw 0.5vw 0.1vw #0a3940;
    color: #146c80;
  }
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

a .card-list4,
a .card-list1,
a .card-list2,
a .card-list3 {
  width: 280px;
  height: 350px;
  /* margin-top: 100px; */
  display: flex;
  justify-content: center;
  align-items: end;
  border: 2px solid #c878a7;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  box-shadow: 0px 0px 15px #c878a7;
  transition: 0.3s !important;
  -webkit-transition: 0.3s !important;
  -moz-transition: 0.3s !important;
  -ms-transition: 0.3s !important;
  -o-transition: 0.3s !important;
}

a .card-list1 {
  /* GANTI FOTO */
  background: url(../../img/card1.jpeg) no-repeat center;
  background-size: cover;
}
a .card-list2 {
  /* GANTI FOTO */
  background: url(../../img/card2.jpeg) no-repeat center;
  background-size: cover;
}
a .card-list3 {
  /* GANTI FOTO */
  background: url(../../img/card3.jpeg) no-repeat center;
  background-size: cover;
}
a .card-list4 {
  /* GANTI FOTO */
  background: url(../../img/card4.jpeg) no-repeat center;
  background-size: cover;
}

a .card-list4:hover,
a .card-list1:hover,
a .card-list2:hover,
a .card-list3:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.card-details {
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-details h1 {
  color: #aa0b68;
  font-size: 1.5rem;
  margin: 5px 0;
  text-shadow: 0 0 5px #fdfdfd, 0 0 10px #fdfdfd, 0 0 20px #fdfdfd,
    0 0 40px #c878a7, 0 0 80px #c878a7, 0 0 90px #c878a7, 0 0 100px #c878a7,
    0 0 150px #c878a7;
}

.card-details .lane {
  width: 37px;
  height: 5px;
  background-color: #aa0b68;
  border-radius: 6px;
  margin-bottom: 20px;
  box-shadow: 0 0 5px #fdfdfd, 0 0 10px #fdfdfd, 0 0 20px #fdfdfd,
    0 0 40px #c878a7, 0 0 80px #c878a7, 0 0 90px #c878a7, 0 0 100px #c878a7,
    0 0 150px #c878a7;
}

/* Card Section End */

/* Footer Styling Start */
.bridge {
  width: 100%;
  height: 100px;
  background-color: #0d0d0d;
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.bridge a i {
  color: #dfdfdf;
  font-size: 2rem;
  font-weight: 500;
}

.bridge a {
  font-size: 1.5rem;
  color: #dfdfdf;
}

/* Footer Styling End */
